.root {
    border-radius: 20%;
    padding: 5px 10px;
}

.container {
    width: 100px;
    height: 50px;
}

.disabled {
    opacity: 0.5;
}

.primary {
    background-color: darkcyan;
}

.secondary {
    background-color: skyblue;
}